body {
    background-color: #B4AACF; /* Azul claro para un fondo agradable */
    color: #333; /* Color de texto oscuro para buena legibilidad */
    font-family: Arial, sans-serif;
    text-align: center; 
   
}

h1 {
    font-size: 2.5em; /* Tamaño grande para el título principal */
    color: #006699;
}

p {
    font-size: 1.5em; /* Tamaño de letra grande y visible */
}

