body {
    padding-top: 10px; /* margen superior */
    background-color: #f0f0f0; /* Color de fondo de la página */
}

/* Estilo para el formulario */
form {
    background-color: white; /* color de fondo del formulario */
    padding: 50px;  /* espaciado del formulario */
    border: 12px solid #a64ca6; /* borde del formulario */
    width: 350px; /* ancho del formulario */
    margin: 0 auto; /* centrar el formulario */
}

h2 {
    color: #a64ca6; /* color del título */
    margin-top: 20px; /* margen superior */
    margin-bottom: 20px; /* margen inferior */
}

label {
    display: block; /* asegura que cada etiqueta esté en una línea separada */
    margin-top: 15px; /* margen superior de 15px para separar cada etiqueta */
    font-weight: bold; /* texto de la etiqueta en negrita para resaltar los campos del formulario */
}

input[type="text"], input[type="email"], input[type="tel"], input[type="url"], textarea {
    width: 100%; /* ancho completo de cada campo */
    padding: 10px; /* espaciado interno */
    margin-top: 5px; /* margen superior para separar del label */
    border: 2px solid #a64ca6; /* borde */
}

input[type="submit"] { /* botón de enviar */
    margin-top: 20px; /* margen superior */
    padding: 15px 0; /* espacio interno del botón */
    background-color: #a64ca6;
    color: white;
    width: 107%; /* ancho del botón */
}

.obligatorio {
    color: red;
    font-size: 0.8em;
}
