body {
    background-color: #F0E68C; 
    color: #333; 
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 2.5em; 
    color: #8B0000;
}

p {
    font-size: 1.5em; 
}

a {
    padding: 10px 20px;
    margin: 10px;
    color: #000000; 
    font-weight: bold;
}
