.espana {
    background: linear-gradient(to bottom, red 33.33%, yellow 33.33% 66.66%, red 66.66%);
}

.bolivia {
    background: linear-gradient(to bottom, red 33.33%, yellow 33.33% 66.66%, rgb(17, 146, 49) 66.66%);
}

.alemania{
    background:linear-gradient(to bottom, black 33.33%, red 33.33% 66.66%,yellow 66.66%);
}

.austria{
    background: linear-gradient(to bottom, red 33.33%, white 33.33% 66.66%, red 66.66%);
}

.estonia{
    background: linear-gradient(to bottom, rgb(62, 62, 201) 33.33%, black 33.33% 66.66%,white   66.66% );
}

.hungria{
    background: linear-gradient(to bottom, red 33.33%,white 33.33% 66.66%, rgb(8, 109, 8)   66.66% );
}

.polonia{
    background: linear-gradient(to bottom, white 50.00%, red 50.00% 100%);
}

.rusia{
    background: linear-gradient(to bottom, white 33.33%, blue 33.33% 66.66%, red 66.66%);
}

.ucrania{
    background:linear-gradient(to bottom, rgb(10, 10, 199) 50.00%, yellow 50.00% 100%);
}

.gabon{
    background: linear-gradient(to bottom, rgb(28, 168, 28) 33.33%, yellow 33.33% 66.66%, rgb(63, 63, 204) 66.66%);
}

























