.suecia {
    background: linear-gradient(
            to right,
            transparent 0% 25%,
            #fecd00 25% 45%,
            transparent 45% 100%
        ),
        linear-gradient(
            to bottom,
            transparent 0% 35%,
            #fecd00 35% 65%,
            transparent 65% 100%
        ),
        #006aa9;
}

.noruega {
    background: linear-gradient(
            to right,
            transparent 0% 30%,
            #001a5b 30% 40%,
            transparent 40% 100%
        ),
        linear-gradient(
            to bottom,
            transparent 0% 40%,
            #001a5b 40% 60%,
            transparent 60% 100%
        ),
        linear-gradient(
            to right,
            transparent 0% 25%,
            white 25% 45%,
            transparent 45% 100%
        ),
        linear-gradient(
            to bottom,
            transparent 0% 35%,
            white 35% 65%,
            transparent 65% 100%
        ),
        #bb042b;
}



.dinamarca{
    background: linear-gradient(
            to right,
            transparent 0% 30%,
            white 30% 40%,
            transparent 40% 100%
        ),
        linear-gradient(
            to bottom,
            transparent 0% 45%,
            white 45% 60%,
            transparent 60% 100%
        ),
        red;
}

.inglaterra{
    background: linear-gradient(
        to right,
        transparent 0% 45%,
        red 45% 55%,
        transparent 5% 100%
    ),
    linear-gradient(
        to bottom,
        transparent 0% 45%,
        red 45% 60%,
        transparent 60% 100%
    ),
    white;
}

.finlandia{
    background: linear-gradient(
        to right,
        transparent 0% 30%,
        rgb(8, 8, 160) 30% 45%,
        transparent 45% 100%
    ),
    linear-gradient(
        to bottom,
        transparent 0% 40%,
        rgb(8, 8, 160) 40% 60%,
        transparent 60% 100%
    ),
    white;
}

.islandia{
    background: linear-gradient(
        to right,
        transparent 0% 35%,
        red 35% 40%,
        transparent 40% 100%
    ),
    linear-gradient(
        to bottom,
        transparent 0% 45%,
        red 45% 55%,
        transparent 55% 100%
    ),
    linear-gradient(
        to right,
        transparent 0% 30%,
        white 30% 45%,
        transparent 45% 100%
    ),
    linear-gradient(
        to bottom,
        transparent 0% 40%,
        white 40% 60%,
        transparent 60% 100%
    ),
    blue;
}

.feroe{
    background: linear-gradient(
        to right,
        transparent 0% 35%,
        red 35% 40%,
        transparent 40% 100%
    ),
    linear-gradient(
        to bottom,
        transparent 0% 45%,
        red 45% 55%,
        transparent 55% 100%
    ),
    linear-gradient(
        to right,
        transparent 0% 30%,
        rgb(40, 40, 201) 30% 45%,
        transparent 45% 100%
    ),
    linear-gradient(
        to bottom,
        transparent 0% 40%,
        rgb(40, 40, 201) 40% 60%,
        transparent 60% 100%
    ),
    white;
}

.aland{
    background: linear-gradient(
        to right,
        transparent 0% 30%,
        red 30% 40%,
        transparent 40% 100%
    ),
    linear-gradient(
        to bottom,
        transparent 0% 40%,
        red 40% 58%,
        transparent 58% 100%
    ),
    linear-gradient(
        to right,
        transparent 0% 25%,
        yellow 25% 45%,
        transparent 45% 100%
    ),
    linear-gradient(
        to bottom,
        transparent 0% 35%,
        yellow 35% 65%,
        transparent 65% 100%
    ),
    blue;
}

.shetland {
    
background: linear-gradient(
    to right,
    transparent 0% 30%,
    white 30% 45%,
    transparent 45% 100%
),
linear-gradient(
    to bottom,
    transparent 0% 40%,
    white 40% 60%,
    transparent 60% 100%
),
rgb(115, 115, 236);
}

.orkney {
    background: linear-gradient(
            to right,
            transparent 0% 30%,
            #001a5b 30% 40%,
            transparent 40% 100%
        ),
        linear-gradient(
            to bottom,
            transparent 0% 43%,
            #001a5b 43% 58%,
            transparent 58% 100%
        ),
        linear-gradient(
            to right,
            transparent 0% 25%,
            yellow 25% 45%,
            transparent 45% 100%
        ),
        linear-gradient(
            to bottom,
            transparent 0% 35%,
            yellow 35% 65%,
            transparent 65% 100%
        ),
        red;
}
