
header {
    display: grid;
    grid-template-columns: auto 1fr auto; /* Columnas para logo, título y nav */
    align-items: center; 
    background-color: rgb(93, 175, 196) ;
    padding: 14px 20px;
    color: white;
    
}

header h1 {
    font-size: 24px;
    color: white;
    text-align: center; 
    grid-column: 2; /* Coloca el título en la segunda columna */
}

.logo {
    width: 75px; 
    height: 75px;
}




.enlace {
    background-color: rgb(93, 175, 196); 
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    height: 80px;
    width: calc(25% - 45px); /* Ancho ajustado para cinco columnas */
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center; /* Los elementos se alinea en el centro */
    justify-content: center; /* El texto se alinea en el centro */
    border-radius: 10px;
}




footer {
    background-color: #77777733; 
    color: #FFFFFF;
    width: 100%;  /* Ocupa todo el ancho */
    text-align: center;  /* Centra el texto */
    padding: 7px;
    margin-top: auto;  /* Asegura que el footer esté siempre al final */
}