body {
    background-color: #D6EAF8;
    color: #222; 
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 2.5em; 
    color: #b29419; 
    text-decoration: underline; 
}



a {
    padding: 10px 20px;
    margin: 10px;
    color: #020101; 
    font-weight: bold;
}
