* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    text-align: center;
    background-color: #0c0c0c;
    padding: 5px;
    color: white;
    text-align: center;
    width: 100%;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-bottom: 50px;
}

main > div {
    text-align: center;
    width: 275px;
    height: 250px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    margin: 10px 0 0 0;
}

footer {
    text-align: center;
    background-color: #0c0c0c;
    padding: 10px;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bandera {
    box-sizing: content-box;
    width: 250px;
    height: 150px;
    border: 2px solid black;
    margin: 0;
}

.espana {
    background: linear-gradient(to bottom, red 33.33%, yellow 33.33% 66.66%, red 66.66%);
}

.reinoUnido {
    background: linear-gradient(
            to right,
            transparent 0% 45%,
            #c9072a 45% 55%,
            transparent 55% 100%
        ),
        linear-gradient(
            to bottom,
            transparent 0% 40%,
            #c9072a 40% 60%,
            transparent 60% 100%
        ),
        linear-gradient(
            to right,
            transparent 0% 40%,
            white 40% 60%,
            transparent 60% 100%
        ),
        linear-gradient(
            to bottom,
            transparent 0% 35%,
            white 35% 65%,
            transparent 65% 100%
        ),
        linear-gradient(
            to bottom right,
            transparent 0% 45%,
            #c9072a 45% 55%,
            transparent 55% 100%
        ),
        linear-gradient(
            to bottom left,
            transparent 0% 45%,
            #c9072a 45% 55%,
            transparent 55% 100%
        ),
        linear-gradient(
            to bottom right,
            transparent 0% 40%,
            white 40% 60%,
            transparent 60% 100%
        ),
        linear-gradient(
            to bottom left,
            transparent 0% 40%,
            white 40% 60%,
            transparent 60% 100%
        ),
        #001b69;
}

.alemania1 {
    background-color: black;
    height: 33.33%;
}

.alemania2 {
    background-color: red;
    height: 33.33%;
}

.alemania3 {
    background-color: yellow;
    height: 33.33%;
}

.belgica1 {
    background-color: black;
    width: 33.33%;
    height: 100%;
    float: left;
}

.belgica2 {
    background-color: yellow;
    width: 33.33%;
    height: 100%;
    float: left;
}

.belgica3 {
    background-color: red;
    width: 33.33%;
    height: 100%;
    float: left;
}

.grecia {
    background: linear-gradient(to right, white 0% 33%, transparent 33% 100%), 
        linear-gradient(to bottom, white 0% 56%, transparent 56% 100%), 
        linear-gradient(to right, #0d5eaf 0% 33%, transparent 33% 100%), 
        repeating-linear-gradient(#0d5eaf 0% 11.1%, white 11.1% 22.2%); 
    background-position: 0px 12px, 11px 0px, 0px 0px, 0px 0px; 
    background-size: 100px 10px, 10px 60px, 100px 30px, cover; 
    background-repeat: no-repeat; 
}

.suecia {
    background: linear-gradient(
            to right,
            transparent 0% 25%,
            #fecd00 25% 45%,
            transparent 45% 100%
        ),
        linear-gradient(
            to bottom,
            transparent 0% 35%,
            #fecd00 35% 65%,
            transparent 65% 100%
        ),
        #006aa9;
}

.noruega {
    background: linear-gradient(
            to right,
            transparent 0% 30%,
            #001a5b 30% 40%,
            transparent 40% 100%
        ),
        linear-gradient(
            to bottom,
            transparent 0% 40%,
            #001a5b 40% 60%,
            transparent 60% 100%
        ),
        linear-gradient(
            to right,
            transparent 0% 25%,
            white 25% 45%,
            transparent 45% 100%
        ),
        linear-gradient(
            to bottom,
            transparent 0% 35%,
            white 35% 65%,
            transparent 65% 100%
        ),
        #bb042b;
}

.japon {
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.circuloRojo {
    width: 75px; 
    height: 75px;
    background-color: #bc002d; 
    border-radius: 50%; 
}
