* {
    height: 100%;
    margin: 0;
}

h1 {
    color: black;
    text-align: left;
    font-size: 33px;
    padding: 10px;
}

p{
    color: black;
    text-align: left;
    font-size: 24px;
    padding: 10px;  
    

}


div.azul {
    background-color: blue;
    width: 100%;
    height: 10%;
}
/*sticky*/
div.gris {
    background-color: grey;
    width: 100%;
    height: 5%; 
    position: sticky;
    top:0px;
}

div.rojo {
    background-color: red;
    width: 33.33%; 
    height: 800px; 
    float: left;
}

div.verde {
    background-color: green;
    width: 33.33%; 
    height: 800px; 
    float: left;
}

div.amarillo {
    background-color: yellow;
    width: 33.33%; 
    height: 800px;
    float: left;
}

div.naranja {
    background-color: orange;
    height: 400px; 
    padding: 400px;

}

div.morado {
    background-color: purple;
    width: 100px; 
    height: 100px; 
    float: right;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, 0); 
}

  

  
