body{
    padding:0;
    margin: 0;
    font-family: Arial, sans-serif;
    margin-left: 10px;

}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
  }

.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
  gap: 2rem;
}

.contenido-principal {
  flex: 2;
}

.registro {
  flex: 1;
  max-height: 450px;
  overflow-y: auto;
  border-left: 2px solid #0077cc;
  padding-left: 1rem;
}


  .zona-interaccion {
    border: 2px dashed #0077cc;
    height: 250px;
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f9f9f9;
}

.circulo {
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    cursor: grab;
}



.registro ul {
    list-style: none;
    padding-left: 0;
}

.registro li {
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
}

    
  button {
    margin-top: 1rem;
    padding: 0.7rem 2.5rem;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  button:hover {
    background-color: #005fa3;
  }