body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}


main {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cuadro {
    width: 250px;
    height: 250px;
    border: 2px dotted #0288d1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: #0288d1;
    background-color: white;
}