body {
    margin: 0;
    padding: 0;

    width: 1200px; 
    margin: auto; 
}

h1 {
    text-align: center;
    font-size: 22px;
}

.texto {
    text-align: center; 
    height: 100%; 
    width: 100%;
    color: rgb(2, 2, 116); 
}


table {
    width: 100%; 
}

td {
    width: 500px; 
    height: 300px; 
}

.caja1 {
    background-color: antiquewhite;
    border-color: black;
    border-style: dotted;
    border-width: 5px;
    padding-top: 10px;
    padding-left: 10px;
}

.caja2 {
    background-color: #ffd700;
    border: 5px solid black;
    border-left: 80px solid black;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.caja3 {
    background-color: #f28b82;
    border: 40px groove #ff6658;
    border-radius: 40px;
}

.caja4 {
    background-color: #a0d995;
    border: 35px inset #006400;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.caja5 {
    background-color: peachpuff;
    border: 10px dashed orange;
    border-radius: 50%;
    font-size: 24px;
    height: 200px; 
    width: 200px; 
}

.interrogante {
    color: darkblue; 
    text-align: center;
    font-size: 100px; 
    font-weight: bold; 
}

.caja6 {
    background-color: #d1c4e9;
    border: 35px outset darkblue;
}

.caja7 {
    background: linear-gradient(to top, yellow, red);
    border: 10px solid rgb(255, 0, 0);
}

.caja8 {
    background-color: white;
    border: 35px solid;
    border-color: blue red green yellow;
}

.caja9 {
    background-color: white;
    border: 30px double purple;
    border-radius: 40px;
}







.index {
    text-align: center; 
    margin-top: 20px; 
}

.index a {
    color: #ffffff; 
    background-color: #002c54; 
    padding: 10px 20px; /* Espaciado interno  */
    border-radius: 8px; /* Borde redondeado */
    text-decoration: none; 
    font-size: 18px; 
}





footer p{
    background-color: #77777733;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    padding: 5px;
    position: fixed; /* Fija el pie de página en la parte inferior */
    bottom: 0; 
    left: 0; 
    margin: 0; 
}