body {
    display: flex;
    flex-direction: column;  /*Los elementos se organizan en una colunma*/
    min-height: 100%; 
}
nav {
    display: grid;
    grid-auto-flow: column; /* Organiza los enlaces */
    justify-content: center; 
    gap: 20px; 
    background-color:  rgb(168, 220, 233);
    padding: 10px 0; 
    margin-bottom: 20px;

}

nav a {
    color: white;
    text-decoration: none; /*Sin subrayado*/
    padding: 5px;
    background-color: rgb(168, 220, 233);
    text-align: center;
}

nav a:hover {
    background-color: rgb(66, 121, 134);;
}

.tablero {
    width: 1000px;
    height: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom:35px;
    border-radius: 2;
}

.fila {
    display: flex;
    flex-direction: row; /*Organiza en filas*/
    text-align: center;
}

.casilla {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px; 
    height: 100px;
    text-align: center;
    font-size: 20px;

    background-size: cover; /* Ancho y el alto ajustado */
}

img{
    width: 100px;
    height: 100px;
}

.blanca {
    background-color: bisque;
}

.negra {
    background-color: rgb(88, 68, 42);
}

.horizontal{
    background-image: url(../imagenes/tableroGrid/horizontal.png);
    color: #180e01;
    font-weight: bold;
    text-align: center; 
    font-size: 30px;
    
}

.vertical{
    background-image: url(../imagenes/tableroGrid/vertical.png);
    color: #180e01;
    font-weight: bold;
    font-size: 30px;
}

.esquina1{
    background-image: url(../imagenes/tableroGrid/esquina1.png);
}

.esquina2{
    background-image: url(../imagenes/tableroGrid/esquina2.png);
}

.esquina3{
    background-image: url(../imagenes/tableroGrid/esquina3.png);
}

.esquina4{
    background-image: url(../imagenes/tableroGrid/esquina4.png);
}

