body {
    font-family: Arial;
    margin: 0; 
    padding: 0; 
    line-height: 1.5; 
    max-width: 1200px;
    margin: auto; 
    box-sizing: border-box; 
    background-color: rgb(224, 227, 228);
}

header {
    background-color: rgb(93, 175, 196); 
    display: flex;
    justify-content: center; 
    padding: 20px; 
}

.logo {
    width: 75px; 
    height: 75px;
}
header h1 {
    color: #ffffff;
    margin: 0; 
    font-size: 30px; 
}

nav {
    display: grid;
    grid-auto-flow: column; /* Organiza los enlaces */
    justify-content: center; 
    gap: 20px; 
    background-color:  rgb(168, 220, 233);
    padding: 10px 0; 
    margin-bottom: 20px;

}

nav a {
    color: white;
    text-decoration: none; 
    background-color: rgb(168, 220, 233);
    text-align: center;
}

nav a:hover {
    background-color: rgb(66, 121, 134);;
}

main{
    background-color: #ffffff; 
    padding: 20px;
    margin-bottom: 10%;
}

.cuerpo {
    display: flex;
    flex-direction: column; /*  una sola columna */
    align-items: center;
    gap: 20px; 
    padding: 20px;
}

.cuadrado {
    width: 80%; 
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px; 
    text-align: justify; 
    background-color: rgb(224, 227, 228);
}

.titulo {
    background-color: rgb(93, 175, 196);
    font-family: Arial;
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 15px;
    text-align: center;
}

footer p{
    background-color: #77777733;
    color: #FFFFFF;
    width: 100%;
    padding: 7px;
    text-align: center;
    position: fixed;
    bottom: 0; 
    left: 0;
    margin: 0; 
}


