
*{
    margin: 0px; 
    display:block;
    box-sizing: border-box; 
   }
catalogo {
    background-color: #002E4C; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
libro{
        background-color: #f1f1f1;
        opacity: 0.8;
        width: 40vw;
        height: 30vw;
        margin: 2vw;
        padding: 1vw;
        font-size: 1.2em;
        overflow: auto;
      }
titulo{
    font-size: 2em;
    padding: .1em;
    text-align: center;
}
autor {
    display: inline;
    color: rgb(214, 137, 36);
    font-size: 1.3em;
}

paginas,editorial,genero,precio,anio{
    font-weight: 100;
    font-size: .8em;
    margin: .5em;
}
portada{
    width: 50%;
    height:75%;
    float: right;
    margin:  .5em;
}
portada[foto="nosotros"]{
    background-image: url("../imagenes/nosotros.png");
    background-size: cover;
}
portada[foto="viento"]{
    background-image: url("../imagenes/viento.png");
    background-size: cover;
}