body {
    padding: 20px;
    background-color: #CECECD;
    font-family: Arial, sans-serif;
    display: flex; /*Permite utilizar flex blox para alinear de manera flexible*/
    flex-direction: column; /*Coloca el contenido verticalemnte*/
    align-items: center; /*Centra el contenido horizontalmente*/
}
 /*Estilo común*/
header, main, footer {  
    width: 100%;
    max-width: 1200px; /* Limita el ancho a 1200px */
    margin-bottom: 20px;
}


header {
    background-color: #716F66;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

}

header figure {
    align-self: flex-start; /*Coloca el logo a la izquierda*/
}


header h1 {
    color: white;
    margin: 20px 0;
}

header nav ul {
    padding: 0;
    display: flex; 
    justify-content: center;  /*Centra los elementos del menu de navegación*/
    margin: 0;
}

header nav ul li { /*Espacio entre cada enlace*/
    margin: 0 15px; 
}

header nav ul li a {
    color: white;
    font-weight: bold;
}

section {
    background-color: white;
    padding: 20px;
    border: 1px solid #716F66;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box; /* Para evitar sobresalir del ancho */
}

section header {
    background-color: #716F66;
    color: white;
    padding: 10px;
    text-align: center;
}

article {
    display: flex;
    flex-direction: row;  /*Organiza los elementos en fila*/
    margin: 20px 0;
}


footer {
    text-align: center;
    background-color: #716F66;
    color: white;
    padding: 15px;
    width: 100%;
    box-sizing: border-box; 
}
