body{
    background-color: rgb(247, 247, 227);
}



.contenedor_enlaces{
    display: flex; /* Activa Flexbox  */
    flex-direction: column; /* Organiza los enlaces en columna */
    justify-content: center; /* Centra los enlaces verticalmente */
    align-items: center; /* Centra los enlaces horizontalmente */
    min-height: 100vh; /* Asegura que el contenedor ocupe toda la altura del viewport (área visible de la página)*/
}
.enlace {
    background-color: rgb(93, 175, 196); 
    color: black;
    font-weight: bold;
    font-size: 22px;
    height: 80px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    border-radius: 10px;

}

.enlace a{
    text-decoration: none; /*Sin subrayado*/
    color: black;

}

.enlace:hover {
    background-color: rgb(45, 116, 134); /* Cambiar color de fondo al pasar el ratóm */
}

.enlace:hover a {
    color: #FFFFFF; /* Cambiar color de la letra al pasar el ratón */
}




