body {
    font-family: Arial, sans-serif;
    width: 100%; 
    height: 100%; 
    display: flex; /* Usamos Flexbox */
    flex-direction: column; /* Organiza los elementos en una columna */
}

/*//////////////////////////////////////*/
/*//////////////////////////////////////*/
/* RESETEO DE LA CONFIGURACIÓN BÁSICA */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*//////////////////////////////////////*/
/*//////////////////////////////////////*/
/* ENCABEZADO */

header {
    display: flex;
    justify-content: center;  /* Centra el título entre el logo y el nav */
    align-items: center;  /* Centra verticalmente los elementos */
    background-color: #002c54;
    padding: 14px 20px;
    color: white;
}

header h1 {
    font-size: 24px;
    color: white;
    text-align: center;
    flex: 1; /* El título ocupa el espacio disponible entre el logo y el nav */
}

.logo {
    width: 50px; /* Tamaño del logo */
    height: auto;
}

/* ////////////////////////////////////////// */
/* ////////////////////////////////////////// */
/* CONFIGURACIÓN DE LOS TÍTULOS Y EL TEXTO */

h2 {
    padding: 20px 0; /* Espacio arriba y abajo pero sin darselo a los laterales */
    color: #000000;
    text-align: center;
}

/* BARRA DE NAVEGACIÓN */
nav {
    display: flex;
    justify-content: center;  /* Centra los enlaces */
    gap: 20px; /* Añade espacio entre los enlaces */
    background-color: #a5a5a5; 
    padding: 5px 0;  /* Altura a la barra */
}

/* ESTILO DE LOS ELEMENTOS DE NAVEGACIÓN */
nav a {
    color: white;
    text-decoration: none;
    padding: 5px;
    background-color: #a5a5a5;
}

nav a:hover {
    background-color: #666;
}

/*//////////////////////////////////////*/
/*//////////////////////////////////////*/
/* CONTENIDO DE LA PÁGINA WEB */ 

.tablero {
    position: relative;
    margin: auto;
    width: 1000px; /* 10 casillas de 100px */
    height: 1000px; /* 10 casillas de 100px */
    border: 1px solid black;
}

.casilla {
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 0px;
}

.fila {
    top: 0px;
}

.casilla1 { 
    left: 0px; 
}

.casilla2 { 
    left: 100px; 
}

.casilla3 { 
    left: 200px; 
}

.casilla4 { 
    left: 300px; 
}

.casilla5 { 
    left: 400px; 
}

.casilla6 { 
    left: 500px; 
}

.casilla7 { 
    left: 600px; 
}

.casilla8 { 
    left: 700px; 
}

.casilla9 { 
    left: 800px; 
}
.casilla10 { 
    left: 900px; 
}

.fila1 { 
    top: 0px; 
}

.fila2 { 
    top: 100px; 
}

.fila3 { 
    top: 200px; 
}

.fila4 { 
    top: 300px; 
}

.fila5 { 
    top: 400px; 
}

.fila6 { 
    top: 500px; 
}

.fila7 { 
    top: 600px; 
}

.fila8 { 
    top: 700px; 
}

.fila9 { 
    top: 800px; 
}

.fila10 { 
    top: 900px; 
}

/*/////////////////////////*/
/* CONFIGURACIÓN ADICIONAL*/
/*///////////////////////*/

img{
    width: 100px;
    height: 100px;
}

.blanca {
    background-image: url(/Ejercicios/ajedrez/contenido/imagenes/tablero4/blanco.png);
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
}

.negra {
    background-image: url(/Ejercicios/ajedrez/contenido/imagenes/tablero4/negro.png);
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
}

.horizontal {
    background-image: url(/Ejercicios/ajedrez/contenido/imagenes/tablero4/horizontal.png);
    background-size: cover; /* Ajusta el tamaño de la imagen de fondo */
    /* Configuración texto */
    color: #180e01;
    font-size: 30px;
    font-weight: bold;
    text-align: center; /* Centra el texto horizontalmente */
    line-height: 100px; /* Establece la altura de la línea igual a la altura de la casilla */
}

.vertical {
    color: #180e01;
    background-image: url(/Ejercicios/ajedrez/contenido/imagenes/tablero4/vertical.png);
    background-size: cover; /* Ajusta el tamaño de la imagen de fondo */
    /* Configuración texto */
    font-size: 30px;
    font-weight: bold;
    text-align: center; /* Centra el texto horizontalmente */
    line-height: 100px; /* Establece la altura de la línea igual a la altura de la casilla */
}

.esquina1{
    background-image: url(/Ejercicios/ajedrez/contenido/imagenes/tablero4/arribaIzquierda.png);
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
}

.esquina2{
    background-image: url(/Ejercicios/ajedrez/contenido/imagenes/tablero4/arribaDerecha.png);
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
}

.esquina3{
    background-image: url(/Ejercicios/ajedrez/contenido/imagenes/tablero4/abajoIzquierda.png);
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
}

.esquina4{
    background-image: url(/Ejercicios/ajedrez/contenido/imagenes/tablero4/abajoDerecha.png);
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
}

/*//////////////////////////////////////*/
/*//////////////////////////////////////*/
/* BOTÓN PARA REGRESAR AL SUBIR ARRIBA DE LA PÁGINA PRINCIPAL */

#boton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%; /* Hace que el botón sea redondo */
    overflow: hidden; /* Asegura que la imagen se mantenga dentro del círculo */
    justify-content: center;  /* Centra la imagen dentro del botón */
    align-items: center;  /* Alinea la imagen verticalmente */
}

#boton img {
    width: 100%;  /* Asegura que la imagen llene todo el contenedor */
    height: 100%;  /* Asegura que la imagen llene todo el contenedor */
    border-radius: 50%; /* Asegura que la imagen también sea redonda */
}

/* PIE DE PÁGINA */
footer {
    background-color: #77777733; 
    color: #FFFFFF;
    width: 100%;  /* Ocupa todo el ancho */
    text-align: center;  /* Centra el texto */
    padding: 7px;
    margin-top: auto;  /* Asegura que el footer esté siempre al final */
}
