.contenedor {
    width: 1000px;
    height: 1010px;
    margin: auto;
}
nav {
    display: grid;
    grid-auto-flow: column; /* Organiza los enlaces */
    justify-content: center; 
    gap: 20px; 
    background-color:  rgb(168, 220, 233);
    padding: 10px 0; 
    margin-bottom: 20px;

}

nav a {
    color: white;
    text-decoration: none; /*Sin subrayado*/
    padding: 5px;
    background-color: rgb(168, 220, 233);
    text-align: center;
}

nav a:hover {
    background-color: rgb(66, 121, 134);;
}

.casilla {
    width: 100px;
    height: 100px;
    margin: 0px;
    float: left;
}

img{
    width: 100px;
    height: 100px;
}

.blanca {
    background-image: url(../imagenes/tableroFluid/blanco.png);
}

.negra {
    background-image: url(../imagenes/tableroFluid/negro.png);
}

.horizontal{
    background-image: url(../imagenes/tableroFluid/horizontal.png);
    background-size: cover;
    font-size: 30px;
    text-align: center; 
    line-height: 100px; /* altura de la línea igual a la altura de la casilla */

}

.vertical{
    background-image: url(../imagenes/tableroFluid/vertical.png);
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
    font-size: 30px;
    text-align: center;
    line-height: 100px; 
}

.esquina1{
    background-image: url(../imagenes/tableroFluid/esquina1.png);
    background-size: cover; 
}

.esquina2{
    background-image: url(../imagenes/tableroFluid/esquina2.png);
    background-size: cover; 
}

.esquina3{
    background-image: url(../imagenes/tableroFluid/esquina4.png);
    background-size: cover; 
}

.esquina4{
    background-image: url(../imagenes/tableroFluid/esquina3.png);
    background-size: cover; 
}

.clear {
    clear: left;
}

