body {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: 1fr auto; /* Ajusta el contenido y el pie de página en filas */
    text-align: center;
}





.tablero {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px; 
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px; 
    gap: 0;
    margin: auto;
    width: 1000px;
    height: 1000px;
}

.casilla {
    display: grid; 
    place-items: center; 
    width: 100px;
    height: 100px;
    background-size: cover; 
}

.blanca {
    background-image: url(../imagenes/tableroGrid/blanco.png);
}

.negra {
    background-image: url(../imagenes/tableroGrid/negro.png);
}

.horizontal{
    background-image: url(../imagenes/tableroGrid/horizontal.png);
    color: #180e01;
    font-weight: bold;
    text-align: center; 
    font-size: 30px;
    
}

.vertical{
    background-image: url(../imagenes/tableroGrid/vertical.png);
    color: #180e01;
    font-weight: bold;
    font-size: 30px;
}

.esquina1{
    background-image: url(../imagenes/tableroGrid/esquina1.png);
}

.esquina2{
    background-image: url(../imagenes/tableroGrid/esquina2.png);
}

.esquina3{
    background-image: url(../imagenes/tableroGrid/esquina3.png);
}

.esquina4{
    background-image: url(../imagenes/tableroGrid/esquina4.png);
}

img{
    width: 100px;
    height: 100px;
}






