body {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: 1fr auto; /* Ajusta el contenido y el pie de página en filas */
    min-height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
    text-align: center;
}

/*//////////////////////////////////////*/
/*//////////////////////////////////////*/
/* RESETEO DE LA CONFIGURACIÓN BÁSICA */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*//////////////////////////////////////*/
/*//////////////////////////////////////*/
/* ENCABEZADO */

header {
    display: grid;
    grid-template-columns: auto 1fr auto; /* Columnas para logo, título y nav */
    align-items: center; /* Centra verticalmente los elementos */
    background-color: #002c54;
    padding: 14px 20px;
    color: white;
}

header h1 {
    font-size: 24px;
    color: white;
    text-align: center; /* Centra el texto dentro del espacio del título */
    grid-column: 2; /* Coloca el título en la segunda columna */
}

.logo {
    width: 50px; /* Tamaño del logo */
    height: auto;
}

/* ////////////////////////////////////////// */
/* ////////////////////////////////////////// */
/* CONFIGURACIÓN DE LOS TÍTULOS Y EL TEXTO */

h2 {
    padding: 20px 0; /* Espacio arriba y abajo pero sin darselo a los laterales */
    color: #000000;
    text-align: center;
}

/* BARRA DE NAVEGACIÓN */
nav {
    display: grid;
    grid-auto-flow: column; /* Organiza los enlaces en una fila */
    justify-content: center; /* Centra los enlaces dentro del contenedor de navegación */
    gap: 20px; /* Añade espacio entre los enlaces */
    background-color: #a5a5a5;
    padding: 5px 0; /* Altura de la barra */
}

/* ESTILO DE LOS ELEMENTOS DE NAVEGACIÓN */
nav a {
    color: white;
    text-decoration: none;
    padding: 5px;
    background-color: #a5a5a5;
    text-align: center;
}

nav a:hover {
    background-color: #666;
}

/*//////////////////////////////////////*/
/*//////////////////////////////////////*/
/* CONTENIDO DE LA PÁGINA WEB */

.tablero {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px; 
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px; 
    gap: 0;
    margin: auto;
    width: 1000px;
    height: 1000px;
}

.casilla {
    display: grid; /* Activar Grid dentro de cada casilla */
    place-items: center; /* Centra el contenido tanto vertical como horizontal */
    width: 100px;
    height: 100px;
    background-size: cover; /* Ajusta el fondo a la celda */
}

.blanca {
    background-image: url(/Ejercicios/ajedrez/contenido/imagenes/tablero2/blanco.png);
}

.negra {
    background-image: url(/Ejercicios/ajedrez/contenido/imagenes/tablero2/negro.png);
}

.horizontal{
    background-image: url(/Ejercicios/ajedrez/contenido/imagenes/tablero2/horizontal.png);
    /* Configuración texto */
    color: #180e01;
    font-weight: bold;
    text-align: center; 
    font-size: 30px;
}

.vertical{
    background-image: url(/Ejercicios/ajedrez/contenido/imagenes/tablero2/vertical.png);
    /* Configuración texto */
    color: #180e01;
    font-weight: bold;
    text-align: center; 
    font-size: 30px;
}

.esquina1{
    background-image: url(/Ejercicios/ajedrez/contenido/imagenes/tablero2/arribaIzquierda.png);
}

.esquina2{
    background-image: url(/Ejercicios/ajedrez/contenido/imagenes/tablero2/arribaDerecha.png);
}

.esquina3{
    background-image: url(/Ejercicios/ajedrez/contenido/imagenes/tablero2/abajoIzquierda.png);
}

.esquina4{
    background-image: url(/Ejercicios/ajedrez/contenido/imagenes/tablero2/abajoDerecha.png);
}

img{
    width: 100px;
    height: 100px;
}





#boton img {
    width: 100%; 
    height: 100%; 
    border-radius: 50%; 
}

/* PIE DE PÁGINA */
footer {
    background-color: #77777733;
    color: #FFFFFF;
    width: 100%; /* Ocupa todo el ancho */
    text-align: center; /* Centra el texto */
    padding: 7px;
    margin-top: auto; /* Asegura que el footer esté siempre al final */
}