
  .zona-divs {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px 0;
  }
  
  .caja {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid #8f8c8c;
    width: 150px;
    height: 150px;
  }
  
  .resultado {
    margin: 20px auto;
    font-size: 18px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #ddd;
    width: 300px;
  }
  
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    margin: 20px auto;
    background-color: white;
    border: 2px solid #ccc;
    font-weight: bold;
    margin-bottom: 5%;
  }
  
  .fondo-color {
    background-color: orange !important;
  }
  
  .borde-punteado {
    border: 2px dashed #333 !important;
  }
  
  .borde-redondeado {
    border-radius: 20px !important;
  }
  
  .grande {
    width: 300px !important;
    height: 200px !important;
  }
  
  .chico {
    width: 100px !important;
    height: 80px !important;
  }
  
  .oculto {
    display: none !important;
  }
  

  .contenido {
    padding: 40px 20px;
    text-align: center;
  }

    .botones {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
  }
  
  button {
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #1f1720;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #addacc;
  }
  
  
