body {
    margin: 0;
    padding: 0;
    width: 1200px; 
    margin: auto; 
}

h1 {
    text-align: center;
    font-size: 24px;
}

.texto {
    text-align: center; 
    height: 100%; 
    width: 100%;
    color: rgb(0, 0, 123); 
}

table {
    width: 100%;
    border-spacing: 0 40px; /* Espacio vertical  entre filas */ 
}

td {
    width: 250px; 
    height: 400px; 
}


.cuadrado1{
    content: 0;
    padding: 0;
    border: 200px solid red;
    border-top-color: blue;
    border-bottom-color: rgb(72, 173, 72);
    border-right-color: yellow;
    width: 0px; /* Ajusta según necesites */
    height: 0px; /* Ajusta según necesites */
}

.cuadrado2{
    content: 0;
    padding: 0;
    border: 200px solid red;
    border-top-color: blue;
    border-bottom-color: rgb(72, 173, 72);
    border-right-color: white;
    width: 0px; 
    height: 0px; 
}

.cuadrado3{
    content: 0;
    padding: 0;
    border: 200px solid white;
    border-top-color: blue;
    border-bottom-color: white;
    border-right-color: white;
    width: 0px; 
    height: 0px;
}



.circulo1 {
    background-color: rgb(72, 173, 72);
    border-radius: 50%;
    font-size: 24px;
    height: 200px; 
    width: 200px;
}

.circulo2 {
    width: 80px;
    height: 80px;
    background-color: rgb(72, 173, 72);
    border-radius: 50%;
    clip-path: inset(0 50% 0 0);/*Para el semicírulo en vertical*/
}

.circulo3 {
    width: 100px;
    height: 100px;
    background-color: rgb(72, 173, 72);
    border-radius: 50%;
    clip-path: inset(50% 0 0 0);/*Para el semicírulo en horizontal*/

}



.index {
    text-align: center; 
    margin-top: 20px; 
    margin-bottom: 50px;
}

.index a {
    color: black; 
    background-color: rgb(93, 175, 196); 
    padding: 10px 20px; 
    border-radius: 8px; 
    text-decoration: none; /* Sin subrayado */
}

.index a:hover {
    background-color: #0c9ace;  /*colorr diferente para cuando se pasa el ratón por encima */ 
   
}


footer p{
    background-color: #77777733;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    padding: 5px;
  
}