body {
    margin: 0;
    padding: 0;
    width: 1200px; 
    margin: auto; 
}

header {
    background-color: #0f4d95; 
    display: flex;
    align-items: center;
    position: relative;
}

/* DISEÑO LOGOTIPO */
header img {
    position: absolute;
    left: 50px;
    width: 70px;
    height: auto;
}

header h1 {
    color: white;
    width: 100%;
    text-align: center;
}

/* Index */
nav ul {
    background-color: #7b8bcf; 
    display: flex;
    justify-content: center;
    padding: 10px;
    list-style: none;
}

nav ul li {
    margin: 15px;
}

/* ESTILO DE LOS ENLACES DE NAVEGACIÓN */
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
}

/* ESTILO DE LOS ENLACES QUE DAN ACCESO A LOS ARCHIVOS */
.enlacescuadrado {
    background-color: #0f4d95; 
    color: #333333; 
    font-weight: bold; 
    font-size: 1.2em; /* Aumenta el tamaño de la fuente */
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    border-radius: 50%; /* Hace que el cuadro sea circular */
    box-shadow: 2px 2px 10px #000000; /* Agrega una sombra para un efecto de elevación */
}

/* ESTILO DE LOS ENLACES DENTRO DE LOS CUADROS */
.enlacescuadrado a {
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: #333333; 
}

.enlacescuadrado:hover {
    background-color: #8381b3; 
    color: white;
}

.enlacescirculo {
    background-color: #0f4d95; 
    color: #333333; 
    font-weight: bold; 
    font-size: 1.2em; /* Aumenta el tamaño de la fuente */
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    border-radius: 50%; /* Hace que el cuadro sea circular */
    box-shadow: 2px 2px 10px #000000; /* Agrega una sombra para un efecto de elevación */
}

.enlacescirculo a {
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: #333333; 
}

.enlacescirculo:hover {
    background-color: #8381b3; 
    color: white;
}


footer p{
    background-color: #77777733;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    padding: 5px;
    position: fixed; /* Fija el pie de página en la parte inferior */
    bottom: 0; /* Elimina la posición en la parte inferior*/
    left: 0; /* Elimina la alineación a la izquierda*/
    margin: 0; /* Elimina el margen del pie de página */
}
