

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    min-height: calc(100vh - 140px);
    box-sizing: border-box;
}

input[type="text"] {
    padding: 10px 15px;
    font-size: 16px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 250px;
}
.resultados {
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    text-align: left;
}

.resultados p {
    margin: 8px 0;
    font-size: 16px;
}

.resultados strong {
    color: #a3c1dd;
}

button {
    background-color: #4d44c4;
    color: white;
    padding: 12px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
}

button:hover {
    background-color: #b4d1ec;
}



